<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customerLayout}">
<head>
<title>About us</title>
</head>
<body>

	<div layout:fragment="content" class="h-100 m-auto">
		<div class="card shadow col-12 col-md-11 col-lg-9 m-auto p-4 bg-secondary h-100">

			<div class="card shadow col-12 col-md-11 col-lg-9 m-auto p-2 px-4">
				<h3 class="text-center text-decoration-underline mb-3">About us</h3>
				<div class="text-center">
					<p>Welcome to E-Restro, where exceptional dining experiences
						come to life! We are dedicated to providing an unparalleled blend
						of delicious cuisine, warm hospitality, and a welcoming
						atmosphere.</p>
					<p>Our journey began with a simple vision: to create a place
						where food lovers can indulge in culinary delights while enjoying
						a cozy, inviting environment. Our team of passionate chefs and
						hospitality professionals work tirelessly to craft a menu that
						features both classic favorites and innovative dishes, all made
						from the freshest, locally-sourced ingredients.</p>
					<p>We invite you to join us and discover why E-Restro
						is more than just a restaurant—it’s a destination for great food,
						great service, and great times. Thank you for being a part of our
						story!</p>
						<h6 class="text-end fst-italic">E-Restro</h6>
				</div>
			</div>

		</div>
	</div>
</body>
</html>