<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminLayout}">
<head>
<title>Reservations</title>

<script type="text/javascript">
	function approve(id) {
		window.location.href = "/restaurant/admin/reservation/approve?id=" + id;
	}
	function disapprove(id) {
		window.location.href = "/restaurant/admin/reservation/disapprove?id="
				+ id;
	}
</script>

</head>
<body>

	<div layout:fragment="content">
		<h1 class="mb-4">Reservation Requests</h1>
		<p th:if="${success}" class="text-success text-center"
			th:text="${success}"></p>
		<p th:if="${danger}" class="text-danger text-center"
			th:text="${danger}"></p>

		<table class="table table-striped shadow bg-white">
			<thead>
				<tr>
					<th scope="col">Customer</th>
					<th scope="col">Table Type</th>
					<th scope="col">Description</th>
					<th scope="col">Time</th>
					<th scope="col">Date</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" reservation : ${reservations}">
					<td th:text="${reservation.getUsername()}">Customer</td>
					<td th:text="${reservation.getTableType()}">Table Type</td>
					<td th:text="${reservation.getDescription()}">Description</td>
					<td th:text="${reservation.getTime()}">Time</td>
					<td th:text="${reservation.getDateTime().toLocalDate()}">Date</td>

					<td th:if="${reservation.checkPending()}"
						class="text-warning status" th:text="${reservation.getStatus()}">Status</td>
					<td th:if="${reservation.checkApproved()}"
						class="text-success status" th:text="${reservation.getStatus()}">Status</td>
					<td th:if="${reservation.checkDisapproved()}"
						class="text-danger status" th:text="${reservation.getStatus()}">Status</td>

					<td th:if="${reservation.checkPending()}">
						<button th:onclick="approve([[${reservation.getId()}]])"
							class="btn btn-warning">Approve</button>
						<button th:onclick="disapprove([[${reservation.getId()}]])"
							class="btn btn-danger">Disapprove</button>
					</td>
					<td th:if="!${reservation.checkPending()}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>